<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title> React + Express = &#10084; </title>
	<meta name="author" content="Musa Abdillah"/>
</head>
<body>
	<div id="content">{{{about}}}</div>
</body>
</html>